Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  performance-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -google-readability-avoid-underscore-in-googletest-name,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -misc-include-cleaner,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-owning-memory,

WarningsAsErrors: "*"

CheckOptions:
 - { key: readability-identifier-naming.NamespaceCase,               value: lower_case           }
 - { key: readability-identifier-naming.TemplateParameterCase,       value: CamelCase            }
 - { key: readability-identifier-naming.FunctionCase,                value: lower_case           }
 - { key: readability-identifier-naming.VariableCase,                value: lower_case           }
 - { key: readability-identifier-naming.PrivateMemberSuffix,         value: _                    }
 - { key: readability-identifier-naming.ProtectedMemberSuffix,       value: _                    }
 - { key: readability-identifier-naming.MacroDefinitionCase,         value: UPPER_CASE           }
 - {key: readability-identifier-naming.MacroDefinitionIgnoredRegexp, value: '^[A-Z]+(_[A-Z]+)*_$'}
 - { key: readability-identifier-naming.EnumConstantCase,            value: UPPER_CASE           }
 - { key: readability-identifier-naming.GlobalConstantCase,          value: lower_case           }
 - { key: readability-identifier-naming.GlobalConstantPrefix,        value: k_                   }
 - { key: readability-identifier-naming.ConstantMemberCase,          value: lower_case           }
 - { key: readability-identifier-naming.ConstantMemberSuffix,        value: _                    }
 - { key: readability-identifier-naming.StaticConstantCase,          value: lower_case           }
 - { key: readability-identifier-naming.StaticConstantPrefix,        value: k_                   }

 - { key: bugprone-unused-return-value.CheckedFunctions,   value: '^.*$' }
 - { key: bugprone-unused-return-value.CheckedReturnTypes, value: '^.*$' }
 - { key: bugprone-unused-return-value.AllowCastToVoid,    value:  true  }